<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamerasCalibrationSystem.Properties.Settings.Database41ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database41.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>